<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <title>Ashwith Gundu</title>

    <link href='https://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Dancing Script' rel='stylesheet'>

    <link href="demo.css" rel="stylesheet">
    <link href="header.css" rel="stylesheet">


</head>

<body>


    <div class="parallax-image-wrapper" data-anchor-target="#page-intro" data-bottom-top="transform:translateY(200%)" data-top-bottom="transform:translateY(0) ">

        <div class="parallax-image" style="background-image:url(/images/coast.jpg)" data-anchor-target="#page-intro" data-bottom-top="transform: translateY(-80%);"
            data-top-bottom="transform: translateY(80%);">

        </div>
    </div>
    <div class="parallax-image-wrapper" data-anchor-target=".body-text + .gap" data-bottom-top="transform:translateY(200%)" data-top-bottom="transform:translateY(0)">

        <div class="parallax-image" style="background-image:url(/images/palmtrees.jpg)" data-anchor-target=".body-text + .gap" data-bottom-top="transform: translateY(-80%);"
            data-top-bottom="transform: translateY(80%);">

        </div>
    </div>
    <div class="parallax-image-wrapper" data-anchor-target=".features-list + .gap" data-bottom-top="transform:translateY(200%)"
        data-top-bottom="transform:translateY(0)">

        <div class="parallax-image" style="background-image:url(/images/coast.jpg)" data-anchor-target=".features-list + .gap" data-bottom-top="transform: translateY(-80%);"
            data-top-bottom="transform: translateY(80%);">

        </div>
    </div>
    <div class="parallax-image-wrapper" data-anchor-target=".about-us + .gap" data-bottom-top="transform:translateY(200%)" data-top-bottom="transform:translateY(0)"
        smooth-parallax="">

        <div class="parallax-image" style="background-image:url(/images/coast.jpg)" data-anchor-target=".about-us + .gap" data-bottom-top="transform: translateY(-80%);"
            data-top-bottom="transform: translateY(80%);">

        </div>
    </div>

    <div id="skrollr-body">

        <div id="page-intro" class="gap" style="background-image:url(/images/coast.jpg); ">
            <img align="" class="logo" src="/images/avatars/1.jpg">
            <h1 class="">Ashwith Gundu</h1>

        </div>

        <div class="body-text content">
            <p data-300-center-top="transform: scale(0.8); opacity: 0" data-300-center-center="transform: scale(1); opacity: 1">
                When you're a carpenter making a beautiful chest of drawers,
            </p>


            <p data-200-center-top="transform: scale(0.8); opacity: 0" data-200-center-center="transform: scale(1); opacity: 1">
                you're not going to use a piece of plywood on the back, even though it faces the wall and nobody will ever see it.
            </p>

            <p data-100-center-top="transform: scale(0.8); opacity: 0" data-100-center-center="transform: scale(1); opacity: 1">
                You'll know it's there, so you're going to use a beautiful piece of wood on the back. -- Steve Jobs
            </p>

        </div>

        <div class="gap" style="background-image:url(/images/palmtrees.jpg); ">

            <div>
                <a href="" class="btn">Download it</a>
            </div>
        </div>

        <div class="features-list">

            <h2 class="hh">Features</h2>

            <div data-100-bottom-top="transform: translateX(-200px); opacity: 0" data-center-top="transform: translateX(0px); opacity: 1"
                style="background-image:url(/images/three/a3.jpeg);height:300px; background-size: cover; " >

            </div>

            <div data-100-bottom-top="transform: translateY(200px); opacity: 0" data-center-top="transform: translateY(0px); opacity: 1"
                style="background-image:url(/images/three/a1.jpg);height:300px; background-size: cover; " smooth-parallax="">

            </div>

            <div data-100-bottom-top="transform: translateX(200px); opacity: 0" data-center-top="transform: translateX(0px); opacity: 1"
                style="background-image:url(/images/three/a2.jpg);height:300px; background-size: cover; " >

            </div>

        </div>

        <div class="gap" style="height:10px;"></div>


        <div class="about-us">

            <h2>About Me</h2>

            <div data-150-bottom-center="transform: rotate(-90deg); opacity: 0" data-150-center-center="transform: rotate(0); opacity: 1">
                <img src="/images/avatars/1.jpg" alt="avatar">
            </div>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque totam, sint atque suscipit hic, nam quidem iste repudiandae
                deleniti sit fugit? Quia, labore doloremque?
            </p>

        </div>

        <div class="gap" style="height:10px;"></div>

        <div class="gallery">

        </div>



        <footer>


            <div class="footer-left">

                <div class="row contact-info">

                    <div class="col-xs-4">
                        <div class="contact-address" style="padding-bottom: 15px;">


                            <h3>
                                <span>
                                    <i class="material-icons">
                                        location_on
                                    </i>
                                </span>Address</h3>
                            <address>1115 N College Dr., Maryville, MO 64468, USA</address>
                        </div>
                    </div>

                    <div class="col-xs-4">
                        <div class="contact-phone" style="padding-bottom: 15px;">

                            <h3>
                                <span>
                                    <i class="material-icons">
                                        phone
                                    </i>
                                </span>Phone Number</h3>
                            <p>
                                <a href="tel:+16605280658">+1 (660)-528-0658</a>
                            </p>
                        </div>
                    </div>

                    <div class="col-xs-4">
                        <div class="contact-email" style="padding-bottom: 15px;">
                            <h3>
                                <span>
                                    <i class="material-icons">
                                        email
                                    </i>
                                </span>Email</h3>
                            <p>
                                <a href="mailto:ashwithgundu@gmail.com">ashwithgundu@gmail.com</a>
                            </p>
                        </div>
                    </div>

                </div>

                <p class="footer-company-name">Gundu &copy;
                    <%= title %>

                </p>

            </div>

            <div class="footer-right" data-bottom-top="max-width: 200px;" data-bottom-bottom="max-width: 600px;">

                <form action="mailto:ashwithgundu@gmail.com?subject=Enquiry" method="post" enctype="text/plain">

                    <div style="padding-bottom: 5px;">
                        <h1>Fill the Details</h1>
                    </div>
                    <div style="padding-bottom: 5px;">
                        <input type="text" name="Organization Name" placeholder="Organization Name" />
                    </div>
                    <div style="padding-bottom: 5px;">
                        <input type="text" name="Message" placeholder="Enter Message" />
                    </div>
                    <button class="btn">send</button>

                </form>

            </div>

        </footer>


    </div>




    <div class="scroll-pause" data-anchor-target=".gallery" data-100p-top-top="transform:translateY(100%);" data-top-top="transform:translateY(0%)"
        data--150p-top-top="" data--300p-top-top="transform:translateY(-100%)">


        <div class="row" data-anchor-target=".gallery" data-top-top="transform: translateX(0%);" data--150p-top-top="transform: translateX(-50%);">
            <div style="background-image:url(/images/small/coast.jpg);"></div>

            <div style="background-image:url(/images/small/palmtrees.jpg);"></div>

            <div style="background-image:url(/images/small/bay.jpg);"></div>

            <div style="background-image:url(/images/small/sea.jpg);"></div>

            <div style="background-image:url(/images/small/coast.jpg);"></div>

            <div style="background-image:url(/images/small/palmtrees.jpg);"></div>

            <div style="background-image:url(/images/small/bay.jpg);"></div>

            <div style="background-image:url(/images/small/sea.jpg);"></div>
        </div>


        <div class="row" data-anchor-target=".gallery" data-top-top="transform: translateX(-50%);" data--150p-top-top="transform: translateX(0);">

            <div style="background-image:url(/images/small/sea.jpg);"></div>

            <div style="background-image:url(/images/small/bay.jpg);"></div>

            <div style="background-image:url(/images/small/palmtrees.jpg);"></div>

            <div style="background-image:url(/images/small/coast.jpg);"></div>

            <div style="background-image:url(/images/small/sea.jpg);"></div>

            <div style="background-image:url(/images/small/bay.jpg);"></div>

            <div style="background-image:url(/images/small/palmtrees.jpg);"></div>

            <div style="background-image:url(/images/small/coast.jpg);"></div>

        </div>

    </div>

    <a href="javascript:" id="return-to-top">
        <i class="icon-chevron-up"></i>
    </a>

    <script src="/skrollr.min.js"></script>

    <script>
        skrollr.init();
    </script>
    <script type="text/javascript" src="smooth-parallax.min.js"></script>
    <script>
        window.addEventListener("load", function () {
            SmoothParallax.init();
        });
    </script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.tutorialzine.com/misc/enhance/v2.js" async></script>
    <script>
        // ===== Scroll to Top ==== 
        $(window).scroll(function () {
            if ($(this).scrollTop() >= 50) { // If page is scrolled more than 50px
                $('#return-to-top').fadeIn(200); // Fade in the arrow
            } else {
                $('#return-to-top').fadeOut(200); // Else fade out the arrow
            }
        });
        $('#return-to-top').click(function () { // When arrow is clicked
            $('body,html').animate({
                scrollTop: 0 // Scroll to top of body
            }, 2000);
        });
    </script>
</body>

</html>